{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новая статья</title>
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
</head>
<body class="create-post">
    <div class="form-container">
        <h1>Создание новой статьи</h1>

        <form method="post">
            {% csrf_token %}

            <p>{{ form.title.label }}</p>
            {{ form.title }}

            <p>{{ form.text.label }}</p>
            {{ form.text }}

            {% if form.errors %}
                <div class="errors">
                    {{ form.errors }}
                </div>
            {% endif %}

            <button type="submit">Сохранить</button>
        </form>

        <p><a href="/">Все записи</a></p>
    </div>
</body>
</html>